.pink{
    background-color: hsl(333, 47%, 96%);
}
.penguin-color{
    color:#a4bc46;
}
.product{
    border-color: white;
    border: none;
}
.product-footer{
    border: none;
    background-color: white;
    padding-top: 20px;
}
.primary-btn{
   background-color:#a4bc46;
   color: white;
   border: white;
   padding: 5px 10px;
   border-radius: 5px;

}
.product-img{
    width: 300px;
    height: 300px;
    padding-top: 15px;
    padding-top: 10px;
    border-radius: 5px;
}
.service-img{
    width: 80px;
    
}
.service-cart-img{
    width: 700px;
}
input{
   width: 300px;
   border-radius: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
button{
    border-radius: 25px;
    margin-left: 5px;
    background-color:#a4bc46;
    color: white;
    font-weight: bold;
    /* font-size: 16px; */
    padding: 5px 10px;
}
.icon{
    width:30px;
   
}